body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
	text-decoration: none;
	color: #000;
}
